
google-services.json
*.keystore
*.jks
local.properties
.env
.env.local
secrets.properties
apikeys.properties


*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex


*.iws
*.ipr
out/
gen/
.navigation/
timing.json
captures/
ovr_env.sh


*.class
*.log
*.pyc


.gradle
**/build/
!src/**/build/
gradle-wrapper.jar
.gradletasknamecache


# google-services.json déjà au-dessus
firebase-debug.log
.firebase/


.DS_Store
Thumbs.db
desktop.ini
